/*Reset*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
a{-webkit-tap-highlight-color: transparent;}

/*fonts*/
@font-face {
    font-family: Rustico-Regular;
    font-display: swap;
    src: url("../fonts/Rustico-Regular.woff2") format("woff2"), url("..\fonts\Rustico-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: ColorTube;
    font-display: swap;
    src: url("../fonts/ColorTube-Regular.woff2") format("woff2"), url("..\fonts\ColorTube-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: SpaceGrotesk;
    font-display: swap;
    src: url("../fonts/SpaceGrotesk-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

/*base*/
html,body{height:100%;width:100%;font-size:20px;background-color: #ffffff;color: #ffffff;font-family: 'SpaceGrotesk'; line-height:1.5;}
.wrapper{
    
    background-image: url("../img/base-color.jpg");
    background-repeat: repeat;
}

/*header*/
.header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
}
.header__container {
    max-width: 1200;
    height: 200px;
}
.header__logo{
    width: 112px;
    height: 40px;
    position: relative;
    top: 33px;
    margin: auto;
}
.header__logo img{
    position: absolute;
    margin: auto;
    width: 112px;
    height: 40px;
}
.header-text {
    width: 1000px;
    margin: auto;
    text-align: center;
    font-family: 'ColorTube';
    color: #ffffff;
    font-size: 40px;
    z-index: 3;
    position: relative;
    padding: 50px 0;
}

/*main*/
.color-table {
    width: 1000px;
    padding: 0px 0px 0px 0px;
    margin: auto;
}
.color-table__collection {
    padding: 0;
    max-width: 1200px;
    margin: 0px auto;
    height: 150px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 4mm ridge rgba(255, 255, 255, .9);
    z-index: 5;
}
.block-copy img{
    width: 30px;
    height: 30px;
    position: relative;
    float:left
}
.block-copy{
    width: 30px;
    height: 27px;
}
.text-color{
    padding: 0px 0px 0px 0px;
    left: 33px;
    bottom: 29px;
    position: relative;
}
.icon-copy{}
.button-block-copy{
    width: 30px;
    height: 30px;
}
.col {
    flex: 1 1 500px;
    flex-grow: 1;
    height: 100%;
    margin: 0;
}
.text_dark{color: #000000}

/*footer*/
footer{}
.footer__content{}
.container{}
.footer__column{height: 50px;}
.footer__logo img{
    width: 84px;
    height: 30px;
    margin: 30px 0 0 620px;
}
.footer_info{margin: 0 0 20px 620px;}

/*color collection*/
.color_1{background-color: #f88500;}
.color_2{background-color: #333333;}
.color_3{background-color: #202328;}
.color_4{background-color: #171a1a;}
.color_5{background-color: #f38506;}
.color_6{background-color: #f6ead4;}
.color_7{background-color: #a2a595;}
.color_8{background-color: #b4a284;}
.color_9{background-color: #1c242a;}
.color_10{background-color: #8f6630;}
.color_11{background-color: #c3a774;}
.color_12{background-color: #bb9c66;}
.color_13{background-color: #f5beb4;}
.color_14{background-color: #9bc472;}
.color_15{background-color: #cbf6db;}
.color_16{background-color: #b85042;}
.color_17{background-color: #e7e8d1;}
.color_18{background-color: #a7beae;}
.color_19{background-color: #829079;}
.color_20{background-color: #ede6b9;}
.color_21{background-color: #b9925e;}
.color_22{background-color: #7fc3c0;}
.color_23{background-color: #cfb845;}
.color_24{background-color: #141414;}
.color_25{background-color: #efb5a3;}
.color_26{background-color: #f57e7e;}
.color_27{background-color: #315f72;}
.color_28{background-color: #79cbb8;}
.color_29{background-color: #500472;}
.color_30{background-color: #d71b3b;}
.color_31{background-color: #e8d71e;}
.color_32{background-color: #16acea;}
.color_33{background-color: #4203c9;}
.color_34{background-color: #1fbfb8;}
.color_35{background-color: #05716c;}
.color_36{background-color: #1978a5;}
.color_37{background-color: #031163;}
.color_38{background-color: #e52165;}
.color_39{background-color: #0d1137;}
.color_40{background-color: #f3ca20;}
.color_41{background-color: #000000;}
/*c 25*/