/*Reset*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
a{-webkit-tap-highlight-color: transparent;}

/*fonts*/
@font-face {
    font-family: Rustico-Regular;
    font-display: swap;
    src: url("../fonts/Rustico-Regular.woff2") format("woff2"), url("..\fonts\Rustico-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: ColorTube;
    font-display: swap;
    src: url("../fonts/ColorTube-Regular.woff2") format("woff2"), url("..\fonts\ColorTube-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: SpaceGrotesk;
    font-display: swap;
    src: url("../fonts/SpaceGrotesk-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

/*base*/
html,body{height:100%;width:100%;font-size:20px;background-color: #ffffff;color: #ffffff;font-family: 'SpaceGrotesk'; line-height:1.5;}
.wrapper{
    
    background-image: url("../img/base-color.jpg");
    background-repeat: repeat;
}

/*header*/
.header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
}
.header__container {
    max-width: 1200;
    height: 200px;
}
.header__logo{
    width: 112px;
    height: 40px;
    position: relative;
    top: 33px;
    margin: auto;
}
.header__logo img{
    position: absolute;
    margin: auto;
    width: 112px;
    height: 40px;
}
.header-text {
    width: 1000px;
    margin: auto;
    text-align: center;
    font-family: 'ColorTube';
    color: #ffffff;
    font-size: 40px;
    z-index: 3;
    position: relative;
    padding: 50px 0;
}

/*main*/
.color-table {
    width: 1000px;
    padding: 0px 0px 0px 0px;
    margin: auto;
}
.color-table__collection {
    padding: 0;
    max-width: 1200px;
    margin: 0px auto;
    height: 150px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 4mm ridge rgba(255, 255, 255, .9);
    z-index: 5;
}
.block-copy img{
    width: 30px;
    height: 30px;
    position: relative;
    float:left
}
.block-copy{
    width: 30px;
    height: 27px;
}
.text-color{
    padding: 0px 0px 0px 0px;
    left: 33px;
    bottom: 29px;
    position: relative;
}
.icon-copy{}
.button-block-copy{
    width: 30px;
    height: 30px;
}
.col {
    flex: 1 1 500px;
    flex-grow: 1;
    height: 100%;
    margin: 0;
}
.text_dark{color: #000000}

/*footer*/
footer{}
.footer__content{}
.container{}
.footer__column{height: 50px;}
.footer__logo img{
    width: 84px;
    height: 30px;
    margin: 30px 0 0 620px;
}
.footer_info{margin: 0 0 20px 620px;}

/*color collection*/
.color_1{background-color: #f88500;}
.color_2{background-color: #333333;}
.color_3{background-color: #202328;}
.color_4{background-color: #171a1a;}
.color_5{background-color: #f38506;}
.color_6{background-color: #f6ead4;}
.color_7{background-color: #a2a595;}
.color_8{background-color: #b4a284;}
.color_9{background-color: #1c242a;}
.color_10{background-color: #8f6630;}
.color_11{background-color: #c3a774;}
.color_12{background-color: #bb9c66;}
.color_13{background-color: #f5beb4;}
.color_14{background-color: #9bc472;}
.color_15{background-color: #cbf6db;}
.color_16{background-color: #b85042;}
.color_17{background-color: #e7e8d1;}
.color_18{background-color: #a7beae;}
.color_19{background-color: #829079;}
.color_20{background-color: #ede6b9;}
.color_21{background-color: #b9925e;}
.color_22{background-color: #7fc3c0;}
.color_23{background-color: #cfb845;}
.color_24{background-color: #141414;}
.color_25{background-color: #efb5a3;}
.color_26{background-color: #f57e7e;}
.color_27{background-color: #315f72;}
.color_28{background-color: #79cbb8;}
.color_29{background-color: #500472;}
.color_30{background-color: #d71b3b;}
.color_31{background-color: #e8d71e;}
.color_32{background-color: #16acea;}
.color_33{background-color: #4203c9;}
.color_34{background-color: #1fbfb8;}
.color_35{background-color: #05716c;}
.color_36{background-color: #1978a5;}
.color_37{background-color: #031163;}
.color_38{background-color: #e52165;}
.color_39{background-color: #0d1137;}
.color_40{background-color: #f3ca20;}
.color_41{background-color: #000000;}
.color_42{background-color: #e2d810;}
.color_43{background-color: #d9138a;}
.color_44{background-color: #12a4d9;}
.color_45{background-color: #322e2f;}
.color_46{background-color: #cf1578;}
.color_47{background-color: #e8d21d;}
.color_48{background-color: #039fbe;}
.color_49{background-color: #b20238;}
.color_50{background-color: #e75874;}
.color_51{background-color: #be1558;}
.color_52{background-color: #fbcbc9;}
.color_53{background-color: #322514;}
.color_54{background-color: #1e3d59;}
.color_55{background-color: #f5f0e1;}
.color_56{background-color: #ff6e40;}
.color_57{background-color: #ffc13b;}
.color_58{background-color: #26495c;}
.color_59{background-color: #c4a35a;}
.color_60{background-color: #c66b3d;}
.color_61{background-color: #e5e5dc;}
.color_62{background-color: #316879;}
.color_63{background-color: #f47a60;}
.color_64{background-color: #7fe7dc;}
.color_65{background-color: #ced7d8;}
.color_66{background-color: #d902ee;}
.color_67{background-color: #ffd79d;}
.color_68{background-color: #f162ff;}
.color_69{background-color: #3203de;}
.color_70{background-color: #ffcce7;}
.color_71{background-color: #daf2dc;}
.color_72{background-color: #81b7d2;}
.color_73{background-color: #4d5198;}
.color_74{background-color: #edca82;}
.color_75{background-color: #097770;}
.color_76{background-color: #e0cdbe;}
.color_77{background-color: #a9c0a6;}
.color_78{background-color: #ffd700;}
.color_79{background-color: #3b4d61;}
.color_80{background-color: #6b7b8c;}
.color_81{background-color: #ecc19c;}
.color_82{background-color: #1e847f;}
.color_83{background-color: #000000;}
.color_84{background-color: #d9a5b3;}
.color_85{background-color: #1868ae;}
.color_86{background-color: #c6d7eb;}
.color_87{background-color: #408ec6;}
.color_88{background-color: #7a2048;}
.color_89{background-color: #1e2761;}
.color_90{background-color: #8a307f;}
.color_91{background-color: #79a7d3;}
.color_92{background-color: #6883bc;}
.color_93{background-color: #1d3c45;}
.color_94{background-color: #d2601a;}
.color_95{background-color: #fff1e1;}
.color_96{background-color: #aed6dc;}
.color_97{background-color: #ff9a8d;}
.color_98{background-color: #4a536b;}
.color_99{background-color: #da68a0;}
.color_100{background-color: #77c593;}
.color_101{background-color: #ed3572;}
.color_102{background-color: #ddc3a5;}
.color_103{background-color: #201e20;}
.color_104{background-color: #e0a96d;}
.color_105{background-color: #e1dd72;}
.color_106{background-color: #a8c66c;}
.color_107{background-color: #1b6535;}
.color_108{background-color: #d13ca4;}
.color_109{background-color: #ffea04;}
.color_110{background-color: #fe3a9e;}
.color_111{background-color: #e3b448;}
.color_112{background-color: #cbd18f;}
.color_113{background-color: #3a6b35;}
.color_114{background-color: #f6ead4;}
.color_115{background-color: #a2a595;}
.color_116{background-color: #b4a284;}
/*-----*/